<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  <% @blogs.each do |blog| %>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <%= image_tag blog.image.url, class: "w-full h-48 object-cover" %>
      <div class="p-4">
        <h3 class="text-lg font-semibold mb-2"><%= blog.title %></h3>
        <p class="text-sm text-gray-600 mb-4"><%= blog.publication_date.strftime("%B %d, %Y") %></p>
        <div class="flex space-x-4">
          <%= link_to 'Show', admin_blog_path(blog), class: 'text-blue-500 hover:underline' %>
          <%= link_to 'Edit', edit_admin_blog_path(blog), class: 'text-blue-500 hover:underline' %>
          <%= link_to 'Delete', admin_blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
