<!DOCTYPE html>
<html>
  <head>
    <title>BoostLogistics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Ensure Tailwind CSS is included -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <!-- Include other styles if needed -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
